body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-color: rgb(50, 50, 50);
}

.collum {
    display: flex;
    flex-direction: column;
}
.tabuleiro {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 80px;
    color: rgb(18, 18, 18);
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.tabuleiro:nth-child(odd) {
    background-color: #f0d9b5;
}

.tabuleiro:nth-child(even) {
    background-color: #b58863;
}

.collum:nth-child(odd) .tabuleiro:nth-child(even),
.collum:nth-child(even) .tabuleiro:nth-child(odd) {
    background-color: #b58863;
}

.collum:nth-child(odd) .tabuleiro:nth-child(odd),
.collum:nth-child(even) .tabuleiro:nth-child(even) {
    background-color: #f0d9b5;
}
