body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-color: rgb(50, 50, 50);
}
.board {
    display: flex;
    user-select: none;
}
.row {
    display: flex;
    flex-direction: column;
}
.square {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 80px;
    color: rgb(18, 18, 18);
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.square:nth-child(odd) {
    background-color: #f0d9b5;
}

.square:nth-child(even) {
    background-color: #b58863;
}

.row:nth-child(odd) .square:nth-child(even),
.row:nth-child(even) .square:nth-child(odd) {
    background-color: #b58863;
}

.row:nth-child(odd) .square:nth-child(odd),
.row:nth-child(even) .square:nth-child(even) {
    background-color: #f0d9b5;
}
